/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');

body {
  display: flex;
  width: 1440px;
  background: #fff;
  height: 496px;
  padding: 36px 0px 420px 0px;
  justify-content: center;
}

input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #808080;
  outline: none;
  padding: 8px 16px;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: border 300ms ease-in-out;
}

input::placeholder {
  color: #808080;
}

input:hover {
  border: 1px solid #000;
}

input:active,
input:focus {
  border: 1px solid #4e75ff;
}

button {
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  transition: background 300ms ease-in-out;
}

button:hover,
button:active,
button:focus {
  background: #6c8cff;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
